h1 {
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: 40px;
}

p {
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 28px;
}

.main-nav-menu {
  display: flex;
  height: auto;
  width: 100vw;
  background-color: wheat;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin: 0px;
  padding: 0px;
}

.headerTitle {
  font-size: 45px;
  margin: 0px;
  padding: 10px;
}

.main-page-body {
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 232, 202);
  min-height: 95vh;
  max-height: max-content;
  margin: 0px;
  padding: 0px;
}

footer {
  display: flex;
  background-color: wheat;
  height: 5vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.main-nav-items {
  background-color: wheat;
  z-index: 2;
}

ul li {
  display: inline;
  padding: 15px;
  font-size: 42px;
}

ul li a {
  color: Black;
  text-decoration: none;
}

ul li a:hover {
  opacity: 0.8;
}

.normalUl {
  display: list-item;
  padding: 3px;
  font-size: 27px;
}

.contactMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contactMe p {
  padding: 5px;
}

.contactMe a {
  color: black;
  text-decoration: none;
}

.resumeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
  height: auto;
  width: auto;
}

.resume {
  border: 1px black solid;
  width: 60%;
  filter: drop-shadow(15px 10px 5px rgb(86, 86, 86));
}

.PdfButton {
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid black;
}

.PdfButton:hover {
  cursor: pointer;
  opacity: .8;
}

.cardsDiv {
  display: block;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.portfolioDiv {
  display: inline-block;
  width: 45%;
  margin: 25px;
}

.portfolioImage {
  width: 95%;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid rgb(88, 88, 88);
  filter: drop-shadow(15px 10px 5px rgb(86, 86, 86));
}

.portfolioImage:hover {
  opacity: .8;
  cursor: pointer;
}

.portfolioDetails {
  display: inline-block;
  max-width: 100%;
  padding-top: 10px;
  text-align: left;
  padding-left: 4%;
}

@media screen and (max-width: 1100px) {
  .portfolioDiv {
    width: 95%;
  }
}
