h1 {
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: 40px;
}

p {
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 28px;
}

.main-nav-menu {
  display: flex;
  background-color: wheat;
  justify-content: center;
  text-align: center;
}

.main-nav-items {
  background-color: wheat;
}

.headerTitle {
  font-size: 45px;
  margin: 0px;
  padding-top: 10px;
}

.main-page-body {
  display: flex;
  flex-direction: column;
  background-color: rgb(249, 232, 202);
  min-height: 95vh;
  max-height: max-content;
  margin: 0px;
  padding: 0px;
}

footer {
  display: flex;
  background-color: wheat;
  height: 5vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

ul {
  padding-left: 0px;
}

ul li {
  display: inline;
  padding: 15px;
  font-size: 42px;
}

ul li a {
  color: Black;
  text-decoration: none;
}

ul li a:hover {
  opacity: 0.8;
}

.normalUl {
  display: list-item;
  padding: 3px;
  font-size: 27px;
}

.aboutImage {
  border: 5px whitesmoke solid;
  border-radius: 10px;
  float: right;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
}

.contactMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contactMe p {
  padding: 5px;
}

.contactMe a {
  color: black;
  text-decoration: none;
}

.resumeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
  height: auto;
  width: auto;
}

.resume {
  border: 1px black solid;
  width: 60%;
  filter: drop-shadow(15px 10px 5px rgb(86, 86, 86));
}

.PdfButton {
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
  border: 1px solid black;
}

.PdfButton:hover {
  cursor: pointer;
  opacity: .8;
}

.cardsDiv {
  display: block;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.portfolioDiv {
  display: inline-block;
  width: 45%;
  margin: 25px;
}

.portfolioImage {
  width: 95%;
  border-radius: 10px;
  box-sizing: border-box;
  border: 2px solid rgb(88, 88, 88);
  filter: drop-shadow(15px 10px 5px rgb(86, 86, 86));
}

.portfolioImage:hover {
  opacity: .8;
  cursor: pointer;
}

.portfolioDetails {
  display: block;
  max-width: 100%;
  padding-top: 10px;
  text-align: left;
  padding-left: 15px;
}

 .portfolioDetails p {
 padding: 5px;
 font-size: 20px;
}

.portfolioDetails a {
  color: black;
  text-decoration: none;
}

/* Tooltip container */
.merntooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
}

/* Tooltip text */
.merntooltip .merntooltiptext {
  visibility: hidden;
  width: 550px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.merntooltip .merntooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.merntooltip:hover .merntooltiptext {
  visibility: visible;
  opacity: 1;
}

.aboutMe {
  margin: 0 1% 0 1%;
}

.columnDiv {
  margin-top: 5%;
  width: 100%;
  /* background-color: green; */
}

.leftDiv {
  /* visibility: visible; */
  /* background-color: blue; */
  width: 50%;
  float: left;
}

.rightDiv {
  /* visibility: visible; */
  /* background-color: red; */
  width: 50%;
  float: right;
}

.hiddenDiv {
  visibility: hidden;
}

.visibleDiv {
  visibility: visible;
}

.skillsButtons {
  /* background-color: aqua; */
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.developerSkillsButton {
  margin-right: 1%;
  font-size: 40px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.developerSkillsButton:hover {
  opacity: .8;
}

.marketingSkillsButton {
  margin-left: 1%;
  font-size: 40px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.marketingSkillsButton:hover {
  opacity: .8;
}

@media screen and (max-width: 1100px) {
  .portfolioDiv {
    width: 95%;
  }
}

@media screen and (max-width: 1220px) {

  .aboutImageDiv {
    display: flex;
    justify-content: center;
  }

  .aboutImage {
    float: none;
    margin-top: 0%;
    margin-bottom: 3%;
    width: 40%;
  }

  .skillsButtons {
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
  }
}


@media screen and (max-width: 850px) {
  .aboutImage {
    width: 70%;
  }

  ul li {
    padding: 10px;
    font-size: 26px;
  }

  .skillsButtons {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
  }

  .developerSkillsButton {
    font-size: 30px;
  }

  .marketingSkillsButton {
    font-size: 30px;
  }
}

@media screen and (max-width: 550px) {
  .developerSkillsButton {
    font-size: 24px;
  }

  ul li {
    display: block;
    padding: 3px;
    font-size: 24px;
  }

  .headerTitle {
    font-size: 30px;
    margin: 0px;
    padding-top: 5px;
}

  #devDiv .normalUl {
    font-size: 22px;
  }

  .marketingSkillsButton {
    font-size: 24px;
}

#marketingDiv .normalUl {
  font-size: 22px;
}
}