:root {
  --headingColor: #e0debf;
  --fontColor: #ffffff;
  --headerColor: #161817;
  --bodyColor: #da7d29;
  --titleColor: #e0debf;
  --accentColor: #e0debf;
  --buttonColor: #ea9944;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: var(--fontColor);
  margin: 0px;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 28px;
}

h1 {
  color: var(--headingColor);
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: 40px;
}

.headerTitle {
  color: var(--titleColor);
  font-size: 45px;
  margin: 0px;
  padding-top: 10px;
}

.main-nav-menu {
  display: flex;
  background-color: var(--headerColor);
  justify-content: center;
  text-align: center;
}

.main-nav-items {
  background-color: var(--headerColor);
}

.main-page-body {
  display: flex;
  flex-direction: column;
  background-color: var(--bodyColor);
  min-height: 95vh;
  max-height: max-content;
  margin: 0px;
  padding: 0px;
}

footer {
  display: flex;
  background-color: var(--headerColor);
  height: 5vh;
  width: 100%;
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

#footerText {
  color: var(--headingColor);
}

ul li a {
  color: var(--fontColor);
  text-decoration: none;
}

ul {
  padding-left: 0px;
}

ul li {
  display: inline;
  padding: 15px;
  font-size: 42px;
}

ul li a:hover {
  opacity: 0.8;
}

.normalUl {
  display: list-item;
  padding: 3px;
  font-size: 27px;
  color: var(--headerColor);
}

.aboutImage {
  border: 5px var(--accentColor) solid;
  border-radius: 10px;
  float: right;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
}

.contactImage {
  border: 5px var(--accentColor) solid;
  border-radius: 10px;
  float: center;
  margin-top: 2%;
  margin-bottom: 0%;
}

.contactMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.contactMe p {
  padding: 5px;
}

.contactMe a {
  color: var(--fontColor);
  text-decoration: none;
}

.resumeDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
  height: auto;
  width: auto;
}

.resume {
  border: 2px var(--accentColor) solid;
  width: 60%;
  filter: drop-shadow(15px 10px 5px rgb(86, 86, 86));
}

.cardsDiv {
  display: block;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.portfolioDiv {
  width: 45%;
  margin: 25px;
}

.row {
  display: flex;
  align-items: flex-start;
}

.portfolioImage {
  width: 95%;
  border-radius: 10px;
  box-sizing: border-box;
  border: 5px solid var(--accentColor);
  filter: drop-shadow(12px 10px 5px var(--headerColor));
}

.portfolioImage:hover {
  opacity: 0.8;
  cursor: pointer;
}

.portfolioDetails {
  display: block;
  max-width: 100%;
  padding-top: 10px;
  text-align: left;
  padding-left: 15px;
}

.portfolioDetails p {
  padding: 5px;
  font-size: 20px;
}

.portfolioDetails a {
  color: var(--fontColor);
  text-decoration: none;
}

/* Tooltip container */
.merntooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  text-decoration: underline;
}

/* Tooltip text */
.merntooltip .merntooltiptext {
  visibility: hidden;
  width: 550px;
  background-color: var(--buttonColor);
  border: 5px var(--accentColor) solid;
  color: var(--headerColor);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.merntooltip .merntooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.merntooltip:hover .merntooltiptext {
  visibility: visible;
  opacity: 1;
}

.aboutMe p {
  margin: 0 1% 0 1%;
}

.columnDiv {
  margin-top: 5%;
  width: 100%;
}

.leftDiv {
  width: 50%;
  float: left;
}

.rightDiv {
  width: 50%;
  float: right;
}

.hiddenDiv {
  visibility: hidden;
}

.visibleDiv {
  visibility: visible;
}

.skillsButtons {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
}

.developerSkillsButton {
  margin-right: 1%;
  font-size: 40px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  border: 5px var(--accentColor) solid;
  background-color: var(--buttonColor);
}

.developerSkillsButton:hover {
  opacity: 0.8;
}

.marketingSkillsButton {
  margin-left: 1%;
  font-size: 40px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  border: 5px var(--accentColor) solid;
  background-color: var(--buttonColor);
}

.marketingSkillsButton:hover {
  opacity: 0.5;
}

.backgroundImage {
  background-image: url("./images/Fall-Background-Image.png");
  background-size: cover;
  background-color: var(--bodyColor);
  width: 100%;
  min-height: 100%;
  min-width: 100%;
}

@media screen and (max-width: 1100px) {
  .row {
    display: block;
    align-items: flex-start;
  }

  .portfolioDiv {
    width: 95%;
    margin: 15px;
  }
}

@media screen and (max-width: 1220px) {
  .aboutImageDiv {
    display: flex;
    justify-content: center;
  }

  .aboutImage {
    float: none;
    margin-top: 0%;
    margin-bottom: 3%;
    width: 40%;
  }

  .skillsButtons {
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .aboutImage {
    width: 70%;
  }

  ul li {
    padding: 10px;
    font-size: 26px;
  }

  .skillsButtons {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
  }

  .developerSkillsButton {
    font-size: 30px;
  }

  .marketingSkillsButton {
    font-size: 30px;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 30px;
  }

  p {
    font-size: 24px;
  }

  .developerSkillsButton {
    font-size: 24px;
  }

  ul li {
    display: block;
    padding: 3px;
    font-size: 24px;
  }

  .headerTitle {
    font-size: 30px;
    margin: 0px;
    padding-top: 5px;
  }

  #devDiv .normalUl {
    font-size: 22px;
  }

  .marketingSkillsButton {
    font-size: 24px;
  }

  #marketingDiv .normalUl {
    font-size: 22px;
  }
}
